<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pelaajat</h1>


    <form action="pelaaja" method="POST">
        <label>Pelaaja</label>
        <select name="pelaajabase">
    
            <% pelaajat.forEach(element => { %>
            <option label="<%= element.playerName %>" value="<%= element.playerName %>">
            <% }) %>
            
        </select>
        <button type="submit" >OK</button>
    </form>
    </select>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


    <%- include ("_form_fields.ejs") %>

    <% pelaajat.forEach(element => { %>
        <div><%= element %></div>
    <% })   %> 
</body>
</html>