<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>
    <h1>Pelaajat</h1>

    <% if (locals.errorMessage != null) { %>
        <div><%= errorMessage %></div>
      <% } %>
    
    <br>

    <select id="pelaajabase" name="pelaajabase">

        <% pelaajat.forEach(element => { %>
        <option label="<%= element.playerName %>" value="<%= element._id %>">
        <% }) %>
        
    </select>

    <button type="submit" id="okbutton">OK</button>


    <ul id="statsit">Statsit:</ul>
    <label id="statsfifawins">Fifa Voitot:</label>
    <br>
    <label id="statsfifalosses">Fifa Häviöt:</label>
    <br>
    <label id="statsfifadraws">Tasapelit:</label>
    <br>
    <label id="statswinperc">Voittoprosentti:</label>
    <br>




    <br>
    <br>
    <br>
    <br>

    <label>Uusi pelaaja</label>
    <form action="pelaaja" method="POST">
    
        <input name="pelaajaname">
        <button type="submit">OK</button>
    
    
    </form>

    <% pelaajat.forEach(element => { %>
        <div><%= element %></div>
    <% })   %> 

    <script>
        $(function() {

            $('#okbutton').on('click', function() {

                $.ajax({
                        type: "GET",
                        url: "/pelaaja/" + document.getElementById("pelaajabase").value,
                        dataType: "json",
                        success: function(pelaajat)
                        {
                            $.each(pelaajat, function(i, pelaaja)
                            {
                                document.getElementById("statsfifawins").innerHTML = "Fifa Voitot: " + pelaaja.fifaWins;
                                document.getElementById("statsfifalosses").innerHTML = "Fifa Häviöt: " + pelaaja.fifaLosses;
                                document.getElementById("statsfifadraws").innerHTML = "Tasapelit: " + pelaaja.fifaDraws;
                                document.getElementById("statswinperc").innerHTML = "Voittoprosentti: " + (pelaaja.fifaWinPerc * 100).toFixed(0) + "%";
                            })
                        }          
                });
            });
        });
    </script>


</body>
</html>