<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tilastokeskus</title>
</head>
<body>
    <h1>Tilastokeskus</h1>
</body>

<a href="/biljardi">Biljardi</a>
<a href="/fifa">Fifa</a>

<%- include("../partials/errorMessage.ejs") %>
<%- body %>

</html>