<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Pakka</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"" ></script>
</head>
<body>
    <h1>Pakka</h1>
    <label id="errormessage"></label>
    
    <div>
        <img id="cardimg1" src="/Card Deck/blue_back.png" style="margin:30px; width: 100px; height: 152px"/>
        <img id="cardimg2" src="/Card Deck/blue_back.png" style="margin:30px; width: 100px; height: 152px"/>
        <img id="cardimg3" src="/Card Deck/blue_back.png" style="visibility: hidden; margin:30px; width: 100px; height: 152px"/>
        <img id="cardimg4" src="/Card Deck/blue_back.png" style="visibility: hidden; margin:30px; width: 100px; height: 152px"/>
    </div> 

    <button id="korttibutton1">Ota kortti</button>
    <br>
    <button id="alustabutton1">Alusta Pakka</button>
    <br>
    <button id="addplayer">Lisää pelaaja</button>
    <br>

    <script>

        $(function(){


            var playeramount = 2;

            var korttipakka1 = ["pata1", "pata2", "pata3", "pata4", "pata5", "pata6", "pata7", "pata8", "pata9", "pata10", "pata11", "pata12", "pata13",
                                 "risti1", "risti2", "risti3", "risti4", "risti5", "risti6", "risti7", "risti8", "risti9", "risti10", "risti11", "risti12", "risti13",
                                 "ruutu1", "ruutu2", "ruutu3", "ruutu4", "ruutu5", "ruutu6", "ruutu7", "ruutu8", "ruutu9", "ruutu10", "ruutu11", "ruutu12", "ruutu13",
                                 "hertta1", "hertta2", "hertta3", "hertta4", "hertta5", "hertta6", "hertta7", "hertta8", "hertta9", "hertta10", "hertta11", "hertta12", "hertta13"];

            var korttipakka2 = ["pata1", "pata2", "pata3", "pata4", "pata5", "pata6", "pata7", "pata8", "pata9", "pata10", "pata11", "pata12", "pata13",
                                 "risti1", "risti2", "risti3", "risti4", "risti5", "risti6", "risti7", "risti8", "risti9", "risti10", "risti11", "risti12", "risti13",
                                 "ruutu1", "ruutu2", "ruutu3", "ruutu4", "ruutu5", "ruutu6", "ruutu7", "ruutu8", "ruutu9", "ruutu10", "ruutu11", "ruutu12", "ruutu13",
                                 "hertta1", "hertta2", "hertta3", "hertta4", "hertta5", "hertta6", "hertta7", "hertta8", "hertta9", "hertta10", "hertta11", "hertta12", "hertta13"];
            
            var korttipakka3 = ["pata1", "pata2", "pata3", "pata4", "pata5", "pata6", "pata7", "pata8", "pata9", "pata10", "pata11", "pata12", "pata13",
                                 "risti1", "risti2", "risti3", "risti4", "risti5", "risti6", "risti7", "risti8", "risti9", "risti10", "risti11", "risti12", "risti13",
                                 "ruutu1", "ruutu2", "ruutu3", "ruutu4", "ruutu5", "ruutu6", "ruutu7", "ruutu8", "ruutu9", "ruutu10", "ruutu11", "ruutu12", "ruutu13",
                                 "hertta1", "hertta2", "hertta3", "hertta4", "hertta5", "hertta6", "hertta7", "hertta8", "hertta9", "hertta10", "hertta11", "hertta12", "hertta13"];

            var korttipakka4 = ["pata1", "pata2", "pata3", "pata4", "pata5", "pata6", "pata7", "pata8", "pata9", "pata10", "pata11", "pata12", "pata13",
                                 "risti1", "risti2", "risti3", "risti4", "risti5", "risti6", "risti7", "risti8", "risti9", "risti10", "risti11", "risti12", "risti13",
                                 "ruutu1", "ruutu2", "ruutu3", "ruutu4", "ruutu5", "ruutu6", "ruutu7", "ruutu8", "ruutu9", "ruutu10", "ruutu11", "ruutu12", "ruutu13",
                                 "hertta1", "hertta2", "hertta3", "hertta4", "hertta5", "hertta6", "hertta7", "hertta8", "hertta9", "hertta10", "hertta11", "hertta12", "hertta13"];

            var cardamount1 = 52;
            var cardamount2 = 52;
            var cardamount3 = 52;
            var cardamount4 = 52;

            $("#korttibutton1").on("click", function()
            {
                if (cardamount1 > 0)
                {
                    var rndnum1 = Math.random() * (cardamount1 - 1);
                    var roundedrndnum1 = Math.round(rndnum1);

                    document.getElementById("cardimg1").src = "/Card Deck/" + korttipakka1[roundedrndnum1] + ".png";
                    document.getElementById("cardimg1").alt = korttipakka1[roundedrndnum1] + ".png";

                    korttipakka1.splice(roundedrndnum1, 1);
                    cardamount1 = cardamount1 - 1;

                    var rndnum2 = Math.random() * (cardamount2 - 1);
                    var roundedrndnum2 = Math.round(rndnum2);

                    document.getElementById("cardimg2").src = "/Card Deck/" + korttipakka2[roundedrndnum2] + ".png";
                    document.getElementById("cardimg2").alt = korttipakka2[roundedrndnum2] + ".png";

                    korttipakka2.splice(roundedrndnum2, 1);
                    cardamount2 = cardamount2 - 1;

                    var rndnum3 = Math.random() * (cardamount3 - 1);
                    var roundedrndnum3 = Math.round(rndnum3);

                    document.getElementById("cardimg3").src = "/Card Deck/" + korttipakka3[roundedrndnum3] + ".png";
                    document.getElementById("cardimg3").alt = korttipakka2[roundedrndnum3] + ".png";

                    korttipakka3.splice(roundedrndnum3, 1);
                    cardamount3 = cardamount3 - 1;

                    var rndnum4 = Math.random() * (cardamount4 - 1);
                    var roundedrndnum4 = Math.round(rndnum4);

                    document.getElementById("cardimg4").src = "/Card Deck/" + korttipakka4[roundedrndnum4] + ".png";
                    document.getElementById("cardimg4").alt = korttipakka4[roundedrndnum4] + ".png";

                    korttipakka4.splice(roundedrndnum4, 1);
                    cardamount4 = cardamount4 - 1;

                }
                else
                {
                    document.getElementById("cardimg1").src = "/Card Deck/gray_back.png";
                    document.getElementById("cardimg2").src = "/Card Deck/gray_back.png";
                    document.getElementById("cardimg3").src = "/Card Deck/gray_back.png";
                    document.getElementById("cardimg4").src = "/Card Deck/gray_back.png";
                    document.getElementById("errormessage").innerHTML = "Korttipakka tyhjä";
                }
            });

            $("#alustabutton1").on("click", function()
            {
                document.getElementById("errormessage").innerHTML = "";
                document.getElementById("cardimg1").src = "/Card Deck/blue_back.png";

                korttipakka1 = ["pata1", "pata2", "pata3", "pata4", "pata5", "pata6", "pata7", "pata8", "pata9", "pata10", "pata11", "pata12", "pata13",
                                 "risti1", "risti2", "risti3", "risti4", "risti5", "risti6", "risti7", "risti8", "risti9", "risti10", "risti11", "risti12", "risti13",
                                 "ruutu1", "ruutu2", "ruutu3", "ruutu4", "ruutu5", "ruutu6", "ruutu7", "ruutu8", "ruutu9", "ruutu10", "ruutu11", "ruutu12", "ruutu13",
                                 "hertta1", "hertta2", "hertta3", "hertta4", "hertta5", "hertta6", "hertta7", "hertta8", "hertta9", "hertta10", "hertta11", "hertta12", "hertta13"];
                cardamount1 = 52;

                document.getElementById("cardimg2").src = "/Card Deck/blue_back.png";

                korttipakka2 = ["pata1", "pata2", "pata3", "pata4", "pata5", "pata6", "pata7", "pata8", "pata9", "pata10", "pata11", "pata12", "pata13",
                                 "risti1", "risti2", "risti3", "risti4", "risti5", "risti6", "risti7", "risti8", "risti9", "risti10", "risti11", "risti12", "risti13",
                                 "ruutu1", "ruutu2", "ruutu3", "ruutu4", "ruutu5", "ruutu6", "ruutu7", "ruutu8", "ruutu9", "ruutu10", "ruutu11", "ruutu12", "ruutu13",
                                 "hertta1", "hertta2", "hertta3", "hertta4", "hertta5", "hertta6", "hertta7", "hertta8", "hertta9", "hertta10", "hertta11", "hertta12", "hertta13"];
                cardamount2 = 52;

                document.getElementById("cardimg3").src = "/Card Deck/blue_back.png";

                korttipakka3 = ["pata1", "pata2", "pata3", "pata4", "pata5", "pata6", "pata7", "pata8", "pata9", "pata10", "pata11", "pata12", "pata13",
                                "risti1", "risti2", "risti3", "risti4", "risti5", "risti6", "risti7", "risti8", "risti9", "risti10", "risti11", "risti12", "risti13",
                                "ruutu1", "ruutu2", "ruutu3", "ruutu4", "ruutu5", "ruutu6", "ruutu7", "ruutu8", "ruutu9", "ruutu10", "ruutu11", "ruutu12", "ruutu13",
                                "hertta1", "hertta2", "hertta3", "hertta4", "hertta5", "hertta6", "hertta7", "hertta8", "hertta9", "hertta10", "hertta11", "hertta12", "hertta13"];
                cardamount3 = 52;

                document.getElementById("cardimg4").src = "/Card Deck/blue_back.png";

                korttipakka4 = ["pata1", "pata2", "pata3", "pata4", "pata5", "pata6", "pata7", "pata8", "pata9", "pata10", "pata11", "pata12", "pata13",
                                 "risti1", "risti2", "risti3", "risti4", "risti5", "risti6", "risti7", "risti8", "risti9", "risti10", "risti11", "risti12", "risti13",
                                 "ruutu1", "ruutu2", "ruutu3", "ruutu4", "ruutu5", "ruutu6", "ruutu7", "ruutu8", "ruutu9", "ruutu10", "ruutu11", "ruutu12", "ruutu13",
                                 "hertta1", "hertta2", "hertta3", "hertta4", "hertta5", "hertta6", "hertta7", "hertta8", "hertta9", "hertta10", "hertta11", "hertta12", "hertta13"];
                cardamount4 = 52;
            });
            $("#addplayer").on("click", function()
            {
                if (playeramount == 2)
                {
                    playeramount = 3;
                    document.getElementById("cardimg3").style.visibility = "visible";
                }
                else
                {
                    playeramount = 4;
                    document.getElementById("cardimg4").style.visibility = "visible";
                    document.getElementById("addplayer").style.visibility = "hidden"
                }
            });

        });
    </script>
</body>
</html>