<label>Tulos</label>

<form action="fifa" method="POST">
<!--  fifaResults is defined in fifarouter -> get"/" -> const fifaResults  --> 
<input type="text" name="fifaresult" value="<%= fifaResults.result %>">
<button type="submit">OK</button>
</form>
