<form action="fifa" method="POST">
<label>Pelaaja 1</label>
<select name="pelaajahome">

<% pelaaja.forEach(element => { %>
<option label=" <%= element.playerName %>" value="<%= element.playerName %>">
<% }) %>

</select>

<label>Pelaaja 2</label>
<select name="pelaajaaway">

    <% pelaaja.forEach(element => { %>
    <option label=" <%= element.playerName %>" value="<%= element.playerName %>">
    <% }) %>
    
</select>


<br>
<!--  fifaResults is defined in fifarouter -> get"/" -> const fifaResults  --> 
<input type="number" name="fifaresulthome" value="">
<input type="number" name="fifaresultaway" value="">
<button type="submit">OK</button>
</form>
