<label>Tulos</label>

<form action="fifa" method="POST">
<!--  fifaResults is defined in fifarouter -> get"/" -> const fifaResults  --> 
<input type="number" name="fifaresulthome" value="">
<input type="number" name="fifaresultaway" value="">
<button type="submit">OK</button>
</form>
